<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Products</a>
        </div>
    </div>
</nav>
<div style="margin-bottom: 10px" class="container">
    <a href="/cart"><button class="btn btn-default">Back</button></a>
</div>
<form class="container" name="contactForm" ng-submit="vm.confirmContactForm(contactForm.$valid)">
    <div class="form-group">
        <label>Your Full Name:</label>
        <input type="text" class="form-control" name="inpFullName" ng-model="vm.customer.fullName" 
               ng-minlength="5" ng-required="true"/>
        <span style="color:red" ng-if="vm.checkValidation">{{vm.errorAlert(contactForm.inpFullName.$error)}}</span>
    </div>
    <div class="form-group">
        <label>Your Address:</label>
        <input type="text" class="form-control" name="inpAddress" ng-model="vm.customer.address" 
               ng-minlength="5" ng-required="true"/>
        <span style="color:red" ng-if="vm.checkValidation">{{vm.errorAlert(contactForm.inpAddress.$error)}}</span>
    </div>
    <div>
        <label>Your Email:</label>
        <input class="form-control" name="inpEmail" ng-model="vm.customer.email" ng-pattern="vm.emailFormat" ng-required="true"/>
        <span style="color:red" ng-if="vm.checkValidation">{{vm.errorAlert(contactForm.inpEmail.$error)}}</span>
    </div>
    <div style="margin-top: 10px" class="form-group">
        <button class="btn btn-warning" type="submit">Confirm</button>
    </div>
</form>